// MIXINS

@mixin flex($direction: row, $justify: center, $align: center, $wrap: nowrap) {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin flex-item($grow: 0, $shrink: 0, $basis: auto) {
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $basis;
}



